@font-face {
  font-family: 'InterTight';
  src: url('@/assets/fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family:InterTight-Regular,sans-serif;
}
.btn-add {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}