@font-face {
  font-family: 'InterTight';
  src: url('@/assets/fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family:InterTight-Regular,sans-serif;
}